<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tester</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<form method="post">
   <textarea name="xml">
       <workbook>
           <sheet name="hello world">
                <row><cell style="border-bottom:1px blue" rowspan="5">Five</cell></row>
           </sheet>
       </workbook>
   </textarea>
    <button>go</button>
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
</form>
</body>

</html>
